.center {
    text-align: center;
    margin: 0 auto;
}

/* type selector (all input tags) */
td {
    text-align: center;
    width: 48px;
    height: 48px;
    font-size: 24px;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
}

h1 {
    text-align: center;
}

input {
    font-size:small;
}

.user-value {
    color: green;
}

body {
    margin: 0;
    min-height: 100vh;
    background: lightgray;
    font-family: "Segoe UI", sans-serif;
}


/* type selector, descendant "combinator" selector, and nth-child "pseudo-class" selector.
"the td elements within the 1st row within tables". */
table tr:nth-child(1) td {
    border-top: 4px solid #000000;
}

/* type selector, descendant "combinator" selector, and nth-child "pseudo-class" selector.
"the 1st, 4th & 7th columns within table rows". */
table tr td:nth-child(1),
table tr td:nth-child(4),
table tr td:nth-child(7) {
    border-left: 4px solid #000000;
}

/* type selector, descendant "combinator" selector, and nth-child "pseudo-class" selector.
"the td elements within the 3rd, 6th & 9th rows within tables". */
table tr:nth-child(3) td,
table tr:nth-child(6) td,
table tr:nth-child(9) td {
    border-bottom: 4px solid #000000;
}

/* type selector, descendant "combinator" selector, and nth-child "pseudo-class" selector.
"the 9th column within table rows". */
table tr td:nth-child(9) {
    border-right: 4px solid #000000;
}